@{
    ViewData["Title"] = "Правила";
}
<div style="display: flex; justify-content: center;">
    <h1>@ViewData["Title"]</h1>
</div>
<div style="display: flex; justify-content: center;">
    <img class="imgRules" src="/photos/rules.png" />
</div>